{% extends 'base.html.twig' %}

{% block body %}
    <div class="card-body">
        <h3>
            <a class="text-decoration-none text-dark"
               href="{{ path("read_post", { slug: post.slug }) }}">
                {{ post.title }}
            </a>
        </h3>
        <p class="text-muted">
            <small><i class="fa fa-calendar"></i> {{ post.publishedAt|format_datetime('long', 'medium') }}</small>
            <small><i class="fa fa-user"></i> {{ post.author.username }}</small>
        </p>
        {{ post.content|markdown_to_html }}


        <div class="col-sm-9 mt-3">
            <div class="card">
                <div class="card-body">

                    {% if is_granted('ROLE_USER') %}
                        {{ form_start(form) }}

                        <fieldset>
                            <legend>
                                <i class="fa fa-comment" aria-hidden="true"></i> Add a comment
                            </legend>
                            {{ form_row(form.content, {attr: {rows: 5}}) }}
                            <button class="btn btn-primary pull-right mt-2" type="submit">
                                <i class="fa fa-paper-plane" aria-hidden="true"></i>Submit
                            </button>
                        </fieldset>

                        {{ form_end(form) }}

                    {% else %}

                        <p class="card-text">
                            <a class="btn btn-primary"
                               href="{{ path('security_login', {'redirect_to': app.request.pathInfo}) }}">
                                Sign in
                            </a>
                            to publish a comment
                        </p>

                    {% endif %}

                </div>
            </div>
            {% for comment in post.comments %}
                <div class="row mt-2">
                    <h6 class="col-sm-3">
                        <strong>{{ comment.author.username }}</strong><br>
                        <strong>{{ comment.postedAt|format_datetime('medium', 'short') }}</strong>
                    </h6>
                    <div class="col-sm-9">
                        {{ comment.content|markdown_to_html }}
                    </div>
                </div>
            {% else %}
                <h4>No comments</h4>
            {% endfor %}
        </div>
    </div>
{% endblock %}