{% extends 'admin/layout.html.twig' %}

{% block body_id 'admin_post_new' %}

{% block body %}
    <h1>New Post</h1>

    {{ form_start(form) }}
    {{ form_row(form.title) }}
    {{ form_row(form.summary) }}
    {{ form_row(form.content) }}
    {{ form_row(form.publishedAt) }}

    <button type="submit" class="btn btn-primary">
        <i class="fa fa-save" aria-hidden="true"></i> Create Post
    </button>
    {{ form_widget(form.saveAndCreateNew) }}
    <a href="{{ path('admin_post_index') }}" class="btn btn-link">
        <i class="fa fa-list-alt" aria-hidden="true"></i> Back to list
    </a>
    {{ form_end(form) }}
{% endblock %}
